page-changepassword {
    .toolbar-background{
        background-color: #4d4183;
    }
    .toolbar-title{
        color: #fff;
    }
    ion-header .item{
        background-color: #4d4183;
        color: #fff;
    }
    ion-header .item.item-block .item-inner{
        border-bottom: 0;
    }
}
