<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-item style="background-color:#4d4183;">
       
        <ion-title text-center>Profile</ion-title>
        <span item-end icon-only (click)="save()">
          <ion-icon name="checkmark"></ion-icon>
       </span>
      </ion-item>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-item>  
    <ion-avatar item-start (click)="openProfileImage()">
      <img *ngIf="!photo" src="assets/images/profile.png" class="item item-thumbnail" style="margin: 0 auto;">
       <img *ngIf="photo" [src]="laravel.getProflieImagePath(photo)" class="item item-thumbnail" style="margin: 0 auto;">  
      
    </ion-avatar> 
    <h1>{{name}}</h1>
    <!-- <button ion-button round small outline item-end>Upload Photo</button> -->
  </ion-item>    
  <ion-list class="detail-list">
    <button ion-item (click)="openPersonal()">
      <ion-icon name="person" item-start></ion-icon>
        Personal detail
        <span item-end icon-only (click)="save()">
          <ion-icon name="arrow-round-forward"></ion-icon>
       </span>
    </button>
    <button ion-item (click)="openAddress()">
      <ion-icon name="home" item-start ></ion-icon>
          Address Detail  
          <span item-end icon-only (click)="save()">
            <ion-icon name="arrow-round-forward"></ion-icon>
         </span>
        </button>
    <button ion-item (click)="openFamily()">
      <ion-icon name="people" item-start></ion-icon>
          Family Detail
          <span item-end icon-only (click)="save()">
            <ion-icon name="arrow-round-forward"></ion-icon>
         </span>
    </button>
    <div padding>
      <button ion-button color="primary" block (click)="goToLoginPage()">Logout</button>
  </div>
  </ion-list>
  
</ion-content>
