page-home {
    .toolbar-background{
        background-color: #488aff;
    }
    .toolbar-title{
        color: #fff;
    }
    .scroll-content{
        overflow-x: auto;
    }
    .item.item-block .item-inner{
        border-bottom: inherit;
    }
    .item p{
        color: #fff;
    }
    ion-label{
        white-space: inherit
    }
}
