<!--
  Generated template for the HomePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background-color:#4d4183;">
  <ion-navbar>
      <ion-item style="background-color:#4d4183;">
          <!-- <p item-start ion-button color="primary" (click)="goToLoginPage()" >
             Sign Out
          </p>  -->
          <ion-title text-center>
            Home
          </ion-title>
      </ion-item>
  </ion-navbar>
</ion-header>


<ion-content class="request_list">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card  *ngFor="let request of requests">
     
      
      <ion-item>
        <ion-avatar item-start>
          <img *ngIf="request.profile_image" [src]="laravel.getProflieImagePath(request.profile_image)">
          <img *ngIf="!request.profile_image" src="assets/images/profile.png">
        </ion-avatar>
        <h2 title="{{request.user_name}}">{{request.user_name}}</h2>   
        <h4 title="{{request.tehsil+' '+request.district+' '+request.state}}">{{request.tehsil+' '+request.district+' '+request.state}}</h4>
        <ion-note item-end class="request-time">
           {{request.request_time }}
        </ion-note>
      </ion-item>   
      <!-- autoplay="5000" loop="true" speed="3000" -->
    
      <ion-card-content>
        <p >{{request.request_message}}</p>
        <ion-slides pager (ionWillChange)="onSlideChangeStart($event)">
          <ion-slide *ngFor="let img of request.request_image">
              <img [src]="laravel.getRequestImagePath(img)">
          </ion-slide>
        </ion-slides>
      </ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small (click)="addLike(this.request.request_id)">
              <ion-icon name="thumbs-up"></ion-icon><br>
              <div >{{request.like_count}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small  (click)="addDisLike(this.request.request_id)">
              <ion-icon name="thumbs-down"></ion-icon><br>
              <div>{{request.unlike_count}}</div>
            </button>
            </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon><br>
              <div (click)="addComments(request['request_id'],request.comments)">{{request.comments.length}} Comments</div>
            </button>
          </ion-col>        
        </ion-row>
      </ion-grid>
    </ion-card>
</ion-content>