page-profileimage {
    .toolbar-background{
        background-color: #488aff;
    }
    .toolbar-title{
        color: #fff;
    }
    ion-header .item-md{
        background-color: #488aff;
    }
    ion-header .item-md.item-block .item-inner{
        border-bottom: 0;
    }
   .editprofilepicture{
       position: relative;
   }
   .editprofilepicture button{
    bottom: 4rem;
    left: 10em;
    color: #fff;
   }
   .editprofilepicture img{
   margin: 0 auto;
   width: 100%;
   border-radius: 50%;
   max-width: 50%;
   }
   .editprofilepicture span{
       padding: 4px;
   }
}
