page-familydetail {
    .toolbar-background{
        background-color: #488aff;
    }
    .toolbar-title{
        color: #fff;
    }
    ion-header .item-md{
        background-color: #488aff;
        color: #fff;
    }
    ion-header .item-md.item-block .item-inner{
        border-bottom: 0;
    }
}
