<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-item>
          <span item-start navPop >
              <ion-icon name="arrow-round-back"></ion-icon>
          </span>       
         <ion-title>Comments</ion-title>
        </ion-item>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-list class="comment-box" *ngFor="let comment of comments">
    <ion-item class="comment-list">
      <ion-avatar item-start>
        <img *ngIf="comment.photo" [src]="laravel.getProflieImagePath(comment.photo)">
        <img *ngIf="!comment.photo" src="assets/images/profile.png">
      </ion-avatar>
      <h3>{{comment.name}}</h3>
      <p text-wrap>{{comment.message}}</p> 
      <p item-end class="comment-time">
          {{comment.comment_time}}
       </p>
             
    </ion-item>
  </ion-list>
  <ion-list >
    
  <form [formGroup]="addcommentForm">
    <ion-item class="my-comment">
      <ion-avatar item-start>
        <!-- <img *ngIf="comment.profile_image" [src]="laravel.getProflieImagePath(comment.profile_image)"> -->
        <img *ngIf="!loggedUserImage" src="assets/images/profile.png">
         <img *ngIf="loggedUserImage" [src]="laravel.getProflieImagePath(loggedUserImage)">
      </ion-avatar>  
      <ion-item [class.invalid]="!addcommentForm.controls.message.valid && (messageChanged || submitAttempt)">
        <ion-input #message type="text" formControlName="message"  placeholder="write a comment"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!addcommentForm.controls.message.valid  && (messageChanged || submitAttempt)">
          <p>Please comment.</p>
      </ion-item>
      <button ion-button  item-end type="submit" (click)="addcomm()"><ion-icon name="send" ></ion-icon></button>            
    </ion-item>
  </form>
 </ion-list>    
</ion-content>
